# Telegram
BOT_TOKEN=
TELEGRAM_BOT_TOKEN=
ADMIN_IDS=[]

# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=tg
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
DATABASE_URL=postgresql://postgres:2585@postgres:5432/tg

# API
API_HOST=0.0.0.0
API_PORT=8000
API_PREFIX=/api/v1

# Redis
REDIS_HOST=redis_fsm
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=

# FSM Redis
FSM_REDIS_HOST=redis_fsm
FSM_REDIS_DB=0
FSM_REDIS_PASS=

# Bot settings
REGISTER_PASSPHRASE=
CREATOR_ID=